# Binaries for programs and plugins
main
tabua_mare_api_blog
*.exe
*.exe~
*.so
*.dylib
*.dll
*.obj
*.exp
*.lib

# Ignore binary output folders
bin/
workground/
TASK/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# Web assets and local databases
*.db
*.js

# Ignore installed modules through `v install --local`:
modules/

# Velvet cache
.velvet/
